.CardV{
    background-color: white;
    border-color:white solid 3px;
    border-radius: 20px ;
    margin: 50px;
     color:#fbb925;
     text-decoration: none;
}
a.card-link{
    text-decoration: none;
      color:#fbb925;
}