.img-fluid {
    width: 40%;
    margin-bottom: 10%;
}

.label {
    color: #000;
    font-size: 1em;
}

.button {
    background-color: #0E2B55;
    border-radius: 50px;
    color: #fff;
    padding: 0.6em 6em;
    margin: 1em 0;
}

.input {
    background-color: #4EACCE;
    border-radius: 50px;
    color: #fff;
}

.input::placeholder {
    color: lightgrey;
}