.lForm{
    padding-top: 70px;
    padding-bottom: 70px;
}
.btn-info{
    border-color: #fff;
}
.img-fluid {
    width: 40%;
    margin-bottom: 10%;
}

.label {
    color: white;
    font-size: 1em;
}

.button {
    background-color: transparent;
    border-radius:  solid white 50px;
    color: #fff;
    padding: 0.6em 6em;
    margin: 1em 0;
}

.input {
    background-color: white;
    border-radius: 50px solid white;
    color: #fff;
}

.input::placeholder {
    color: lightgrey;
}
.lForm a{
    text-decoration: none;
}