.lForm{
    padding-top: 70px;
    padding-bottom: 70px;
}

.img-fluid {
    width: 40%;
    margin-bottom: 10%;
}

.label {
    color: white;
    font-size: 1.3em;
}

.button {
    background-color: transparent;
    border-radius:  solid white 50px;
    color: #fff;
    padding: 0.6em 6em;
    margin: 1em 0;
    border-color: #fff;
}
.button:hover{
  background-color: white;
  border-color: #fff;

}
.input {
    background-color: white;
    border-radius: 50px solid white;
    color: rgb(92, 90, 90);
}

.input::placeholder {
    color: lightgrey;
}
.lForm a{
    text-decoration: none;
}
.form-text{
    font-size: 1em;
}