.sForm{
    padding: 80px;
}

.img-fluid {
    width: 40%;
    margin-bottom: 10%;
}

.label {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.button {
    background-color: transparent;
    border-radius: 50px white;
    color: #fff;
    padding: 0.6em 6em;
    margin: 1em 0;
}

.input {
    background-color:white;
    border-radius: 50px;
    color: #fff;
}

.input::placeholder {
    color: lightgrey;
}