.box{
 background-color: #fbb925;
  border-radius: 13px ;
  justify-content: center;
  color: azure;
  box-shadow: 0 0 25px 0px black;
  min-height: fit-content;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;
}