.Home{
  
    height: 100vh;
}
.start {
    color: rgb(29, 27, 27);
    background-color: transparent;
    border-color:  solid 3px black;
    font-size: 30px;
}
.App{
    display:flex;
   justify-items: center;
}
.calendar{
    width: 100%;
    height: 150px;
}