.Home{
    background-image: url("/public/assets/nasa-6-jTZysYY_U-unsplash.jpg");
    height: 100vh;
}
.start {
    color: rgb(29, 27, 27);
    background-color: transparent;
    border-color:  solid 3px black;
    font-size: 30px;
}