.alertDetails :hover{
    cursor: pointer;
}


.AllAL{
 display: flex;
border: 3px solid rgb(87, 86, 86);
 border-radius: 10px;
 width:100%;
 margin-top: 0;
 margin-bottom: 25px;
 margin-left: 0;
 margin-right: 0;

}


.AllAL h3{
  
    padding: 24px ;
    
} 
.AllAL button{
    margin: 04px;
    background-color: #fbb925 ;
    border-color: white;
}
.AllAL button:hover{
    background-color: aliceblue;
    border-color: #fbb925;
}
.dueAt{ 
    background-color: brown;
    color: azure;
    padding: 24px;
    border-radius: 10px;
    font-size: 1.4em;
    width: 200px;
    text-align: center;
    align-items: center;
}

.modal-content{
   align-content: center;
    min-width: max-content;
    background-color: rgba(92, 92, 89, 0.5);
    color: azure;
}
.modal-body{

    min-width: 790px;
    padding: 1em;
  
}
