.list-group-item{
   
margin-top: 20px;
   
    display: flex;
align-items: center;
justify-content: space-around;
border-radius: 13px;
  width: 75%;
    height: 150px;
}
.list-group-item .HH5{
    text-align: center;
    background-color: brown;
    color: aliceblue;
    padding:15px;
    border-radius: 13px;
}
